form > h1 {
  margin-bottom: calc(40rem/16);
}

.fieldset-header {
  display: flex;
  gap: calc(12rem/16);
  align-items: center;
  margin-bottom: calc(24rem/16);
  img {
    height: calc(24rem/16);
    width: calc(24rem/16);
  }
}

fieldset {
  all: unset;
}

label {
  display: block;
  margin-bottom: calc(12rem/16);
  font: var(--text-bsmr);
  color: var(--text-body);
}

input[id="eventname"] {
  width: 100%;
}

input {
  height: 3rem;
}

input, textarea {
  width: 100%;
  appearance: none;
  padding: calc(13rem/16) 1rem;
  font: var(--text-bmdr);
  color: var(--text-body);
  border-radius: .5rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
}

.date-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.input-wrapper {
  input{
    width: 100%;
  }
}

input[type="datetime-local"] {
  width: 100%;
}

.textarea-wrapper {
  margin-top: 1rem;
}

