.text-logo {
  font: var(--text-logo);
  color: var(--pink);
}

.text-bmdl {
  font: var(--text-bmdr);
  font-weight: 300;
  color: var(--text-heading);
}

.text-hmd {
  font: var(--text-hmd);
  color: var(--text-heading);
}

.text-hsm {
  font: var(--text-hsm);
  color: var(--text-heading);
}

.text-bsms {
  font: var(--text-bsms);
  color: var(--text-heading);
}

.text-bsmr {
  font: var(--text-bsmr);
  color: var(--text-heading);
}